.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
build/
dist/
*.ipa
*.dSYM.zip
*.dSYM
