:root {
  color-scheme: light;
  --font-primary: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --radius-mini: 4px;
  --radius-primary: 8px;
  --radius-lg: 16px;
  --color-bg: #f3e6d3;
  --color-shade: rgba(0, 0, 0, 0.1);
  --color-text: #222222;
  --color-accent: #434343;
  --color-reverse-text: #ffffff;
  --color-link: #295bac;
}

html {
  font-size: 125%;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  display: grid;
  align-content: start;
  justify-items: center;
  background-color: var(--color-bg);
  text-align: center;
  font-family: var(--font-primary);
  color: var(--color-text);
  font-weight: 500;
  font-size: 1rem;
  padding: 4rem 1rem;
}

main {
  display: grid;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
}

h2,
.toc-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

ul,
ol {
  margin-bottom: 0;
}

code {
  background: var(--color-shade);
  padding: 0.1rem 0.2rem;
  border-radius: var(--radius-mini);
  font-size: 90%;
}

:where(p, li) {
  text-wrap: pretty;
}

a:not(.button) {
  color: var(--color-link);
  text-underline-offset: 2px;
  text-decoration: underline;
}

.header {
  margin-bottom: 5rem;
  display: grid;
  gap: 2.5rem;
  justify-items: center;
}

.header-text {
  display: grid;
  gap: .75rem;
}

.subtitle {
  margin: 0;
  max-width: 20rem;
}

.visual {
  border: 2px solid var(--color-accent);
  box-shadow: inset 0 0 0 2px var(--color-accent);
  border-radius: var(--radius-lg);
  max-width: 28rem;
  width: 100%;
  height: auto;
}

.cta {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  gap: .5rem;
}

.direct-download-group {
  display: grid;
  justify-items: center;
  gap: .2rem;
}

.button {
  padding: .5rem 1rem;
  border-radius: var(--radius-primary);
  background-color: var(--color-link);
  color: var(--color-reverse-text);
  text-decoration: none;
  transition: opacity 160ms ease-out;
}

.button-direct {
  height: 2.5rem;
  align-content: center;
  display: grid;
  padding: 0 1rem;
}

.button-secondary {
  background-color: var(--color-shade);
  color: var(--color-text);
}

.button-app-store {
  transition: opacity 160ms ease-out;
}

.button:hover {
  opacity: .9;
}

.button-app-store:hover {
  opacity: .8;
}

.button:active,
.button-app-store:active {
  opacity: 1;
}

.direct-download-meta {
  margin: 0;
  font-size: .75rem;
  color: var(--color-accent);
}

.app-store-badge {
  height: 2.5rem;
  width: auto;
}

.features {
  display: grid;
  gap: 2.5rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem 4rem;
  align-items: start;
}

.features-cta {
  display: grid;
  justify-items: center;
}

.feature-item {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.75rem;
  justify-items: center;
  align-content: start;
  text-align: center;
}

.feature-item .icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-accent);
}

.feature-item p {
  margin: 0;
  max-width: 9rem;
}

.footer {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  margin-top: 5rem;
}

.docs .header {
  margin-bottom: 3rem;
  gap: 0;
  justify-self: flex-start;
}

.docs main {
  text-align: left;
}

.docs section {
  display: grid;
  gap: 1rem;
}

.docs ul,
.docs ol,
.docs p {
  margin: 0;
}

.docs .toc {
  display: grid;
  gap: 1rem;
}

.docs section,
.docs h3 {
  scroll-margin-top: 1rem;
}

.docs .home-link {
  position: relative;
  text-decoration: none;
  justify-self: flex-start;
}

.not-found .header,
.not-found .return-home {
  margin: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 115%;
  }

  h1 {
    font-size: 3rem;
  }

  .feature-grid {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-auto-flow: row;
    justify-items: center;
  }

  .footer {
    grid-auto-flow: row;
    gap: .5rem;
  }
}